@import url('https://fonts.googleapis.com/css2?family=Jost&family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(236, 236, 236);
    height: 100vh;
    display: flex;
    align-items: center;
    
}
header{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
   height: 80px;
   background-color: white;
   width: 100%;
   
   
}
.main-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
   
}
.logo{
   height: 50px;
}

a{
    text-decoration: none; 
    color: rgb(43, 42, 42);
}

nav{
    width: 420px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav a:hover{
    border-bottom: 3px solid #696ce9;
} 

button{
    border: none;
    padding: 11px 21px;
     background-color: #696ce9;
    border-radius: 9px;
    transition: all  ease-in ;
}
button:hover{
    background-color: #5b5eee;   
    transform: scale(.9);
}

button a{
    text-decoration: none;
    font-size: 18px;
    color: white;
   
}

.sign{
    margin-right: 30px;
}

.sign:hover{
    border-bottom: 3px solid #696ce9;
    transform: translateY(-10px);
}

@keyframes rotation {
    0%{
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(-8deg);
    }
    20%{
        transform: rotate(8deg);
    }
    30%{
        transform: rotate(-7deg);
    }
    40%{
        transform: rotate(7deg);
    }
    50%{
        transform: rotate(-4deg); 
    }
    60%{
        transform: rotate(4deg);
    }
    70%{
        transform: rotate(-2deg);
    }
    80%{
        transform: rotate(2deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.logo:hover{
    animation: rotation 2s ease-out;
    
}
